@import "./variables";
* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/* 设置HTML5元素为块 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* 图片自适应 */

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    /*为了照顾ie图片缩放失真*/
    border: none;
}

a {
    cursor: pointer;
}

a:focus,
input[type=button],
input[type=submit] {
    outline: none;
}


/* 初始化 */

body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

input,
select {
    outline-style: none;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: $input-placeholder-color;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $input-placeholder-color;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $input-placeholder-color;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: $input-placeholder-color;
}

body {
    font-family: $font-family-global;
    color: $text-dark-color;
    background-color: $body;
    font-size: $font-default-size;
    position: relative;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}

a,
button,
input,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

a {
    text-decoration: none;
    color: $text-default-color;
    font-family: Microsoft YaHei, Tahoma, Arial, sans-serif;
}
.layui-breadcrumb a:hover{
        color:#009688 !important;
}
cite,
em {
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

@font-face {
    font-family: "iconfont";
    src: url('../font/_iconfont.eot?t=1495693704244');
    /* IE9*/
    src: url('../font/_iconfont.eot?t=1495693704244#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/_iconfont.woff?t=1495693704244') format('woff'), /* chrome, firefox */
    url('../font/_iconfont.ttf?t=1495693704244') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/_iconfont.svg?t=1495693704244#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
}

.iconfont {
    // display: inline-block;
    vertical-align: middle;
}

.icon-tuichu:before {
    content: "\e608";
}

.icon-xiugaimima:before {
    content: "\e609";
}

.icon-gongju:before {
    content: "\e61b";
}

.icon-shuju:before {
    content: "\e645";
}

.icon-12-01:before {
    content: "\e613";
}

.icon-yunyingshujuzhongduan:before {
    content: "\e60c";
}

.icon-hangdongrizhi:before {
    content: "\e868";
}

.icon-jiankongfuwu:before {
    content: "\e66b";
}

//footer
.layui-layout-admin .footer {
    height: auto;
    padding: 15px 0;
    line-height: 26px;
    p {
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: $text-bg-color;
        a {
            padding: 0 5px;
        }
    }
}

//.layui-nav 二级标题
.layui-nav .layui-nav-item {
    i {
        margin-right: 13px;
    }
    dd a {
        padding: 0 35px;
        padding-left: 50px;
    }
}

.qqm-module {
    width: 100%;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 60px 0 56px 200px;
    margin-top: 0;
    .qqm-breadcrumb {
        padding: 20px 25px 0px;
        .layui-breadcrumb {
            a {
                cite {
                    cursor: pointer;
                }
            }
        }
    }
    .qqm-content {
        overflow: hidden;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow-y: auto;
        padding-top: 10px;
        padding-bottom: 83px;
        position: relative;
    }
}


/*详细页面*/

.qqm-info-default {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 20px 24px 115px 24px;
    &.index-updatePassword {
        display: none;
        padding: 20px 0 10px!important;
        .layui-form-item {
            .layui-form-label {
                width: 96px;
            }
            .layui-input-block {
                margin-left: 120px;
            }
        }
    }
    .qqm-info-box {
        background-color: #ffffff;
        width: 100%;
        min-height: 100%;
        border: solid 1px #cccccc;
        padding-top: 44px;
        box-sizing: border-box;
    }
    .layui-form-item {
        display: inline-block;
        margin-right: 50px;
        margin-bottom: 25px;
    }
    .layui-form-select {
        width: 182px;
    }
    .qqm-input-required:after {
        content: '*';
        color: #f9656b;
        position: absolute;
        right: -15px;
        top: 10px;
        font-size: 24px;
    }
    .form-btn-box {
        .layui-btn {
            width: 120px;
        }
        width: 100%;
        text-align: center;
        margin-top: 150px;
        .layui-input-block {
            margin-left: 0;
        }
    }
}

.qqm-btn-theme {
    background-color: #6a96df;
}


/******详情类型判断*/

.qqm-info-default .qqm-info-box {
    &.type-info {
        input {
            border: 0;
            border-bottom: solid 1px #e6e6e6;
            color: #666 !important;
        }
        .qqm-input-required:after,
        .layui-edge,
        .layui-form-radio,
        .layui-form-radioed i,
        .form-btn-box {
            display: none;
        }
    }
    &.type-update .update-hide,
    &.type-add .add-hide {
        display: none;
    }
}

.qqm-list-default .table-operation:last-child:before {
    display: none;
}

.qqm-info-default .qqm-info-box.type-info .layui-form-radioed {
    display: inline-block !important;
    color: #666666 !important;
}


/*按钮样式*/

.qqm-content {
    .btn-yellow {
        margin-left: 20px;
        background-color: #fab530;
        width: 100px;
        font-size: 12px;
    }
    .btn-simple-blue {
        font-size: 12px;
        color: #3678c2;
        width: 120px;
        border-color: #3678c2;
        i {
            margin-right: 5px;
        }
    }
}

.qqm-welcome {
    width: 677px;
    height: 259px;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -171px;
    margin-left: -339px;
}

.qqm-welcome-title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -220px;
    font-size: 20px;
    color: $text-bg-color;
}


/*列表*/

.qqm-list-default {
    padding: 0 25px;
    .layui-table {
        thead {
            border: solid 1px #a5abb7;
            border-bottom: 0;
        }
        th {
            padding: 0;
            line-height: 30px;
            background-color: #a5abb7;
            color: #ffffff;
            font-weight: 100;
            text-align: center;
            border: 0;
        }
        td {
            line-height: 50px;
            padding: 0;
            font-size: 14px;
            color: #666666;
            text-align: center;
            border: 0;
            border-right: solid 1px #eaeaea;
        }
        tr td:last-child {
            border-right: 0;
        }
        tbody {
            tr:nth-child(2n) {
                background-color: #f0f2f5;
            }
            border: solid 1px #cccccc;
            border-top: 0;
        }
    }
    .table-operation-box {
        width: 280px;
        .layui-icon {
            font-size: 20px;
        }
    }
    .table-operation {
        i.icon-chakan {
            font-size: 20px;
        }
        cursor: pointer;
        display: inline-block;
        width: 80px;
        text-align: center;
        color: #62a6e1;
        vertical-align: middle;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 16px;
            background-color: rgba(99, 166, 225, 0.3);
            right: 0;
            top: 50%;
            margin-top: -8px;
        }
        i {
            font-size: 16px;
        }
    }
}

.qqm-page-default {
    text-align: center;
    margin-top: 50px;
}


/*重置表单样式*/

.layui-form-pane.qqm-form-pane .layui-form-label {
    border-color: #6a96df;
    background-color: #6a96df;
    width: auto;
    color: #ffffff;
}

.layui-form-radio i:hover,
.layui-form-radioed i {
    color: #6a96df;
}


/*顶部操作栏*/

.qqm-operation-bar {
    padding: 17px 45px;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    .layui-form-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .layui-input-block {
        margin-left: 0;
    }
    .item-right {
        float: right;
        margin-right: 0;
    }
    .layui-form {
        display: inline-block;
    }
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #ffffff;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #bbbbbb;
}

//echarts
.chartMain {
    margin: 0 auto;
    padding: 40px 0;
    width: 700px;
    height: 400px;
}
