@import "./variables";
@import "./layui";
* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/* 设置HTML5元素为块 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* 图片自适应 */

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    /*为了照顾ie图片缩放失真*/
    border: none;
}


/* 初始化 */

body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

input,
select {
    outline-style: none;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: $input-placeholder-color;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $input-placeholder-color;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $input-placeholder-color;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: $input-placeholder-color;
}

body {
    font-family: $font-family-global;
    color: $text-default-color;
    background-color: $body-bg;
    font-size: $font-default-size;
    position: relative;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}

a,
button,
input,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

a {
    text-decoration: none;
    color: $text-default-color;
    font-family: Microsoft YaHei, Tahoma, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1495693704244');
    /* IE9*/
    src: url('../fonts/iconfont.eot?t=1495693704244#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1495693704244') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1495693704244') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1495693704244#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
    margin-right: 13px;
}

.icon-gongju:before {
    content: "\e61b";
}

.icon-shuju:before {
    content: "\e645";
}

.icon-12-01:before {
    content: "\e613";
}

.icon-yunyingshujuzhongduan {
    font-size: 16px;
}

.icon-yunyingshujuzhongduan:before {
    content: "\e60c";
}

.icon-hangdongrizhi:before {
    content: "\e868";
}

.icon-jiankongfuwu:before {
    content: "\e66b";
}

//footer
.layui-layout-admin .footer {
    height: auto;
    padding: 15px 0;
    line-height: 26px;
    p{
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        a{
            padding:0 5px;
        }
    }
}

//.layui-nav 二级标题
.layui-nav .layui-nav-item dd a {
    padding: 0 35px;
}
