$body:                               	#fff !default;
$body-bg:								#23262e !default;

$font-family-global:                    PingFangSC-Thin, PingFangSC-Regular, sans-serif,'微软雅黑',Microsoft YaHei,Tahoma,Arial !default;
$font-default-size:                     16px !default;

$text-default-color:                    #d8d8d8 !default;
$text-light-color:                    	#fbfbfb !default;
$text-bg-color:							$body-bg !default;

$input-placeholder-color:               rgba(88, 88, 88, 0.6) !default;





