$body-bg:                               #fff !default;
$max-width:                             780px !default;
$min-width:                             320px !default;

$font-family-global:                    PingFangSC-Thin, PingFangSC-Regular, sans-serif,'微软雅黑',Microsoft YaHei,Tahoma,Arial !default;
$font-default-size:                     16px !default;

$text-default-color:                    #585858 !default;
$text-80parcen-color:                   rgba(88, 88, 88, 0.8) !default;
$text-60parcen-color:                   rgba(88, 88, 88, 0.6) !default;
$text-40parcen-color:                   rgba(88, 88, 88, 0.4) !default;
$text-20parcen-color:                   rgba(88, 88, 88, 0.2) !default;

$textBesic-70parcen-color:              rgba(60, 68, 85, 0.7) !default;
$textBesic-family:                      PingFangSC-Regular !default;

$white:                                 #fff !default;
$red:                                   #d21b35 !default;
$Orange:                                #ff9f25 !default;
$queqianme:                             #ff8500 !default;
$queqianme_fail:                        rgba(60, 68, 85, 0.5) !default;
$queqianme-80parcen-color:              rgba(255,133,0,0.8) !default;
$queqianme-60parcen-color:              rgba(255,133,0,0.6) !default;
$animation-duration:                    0.4s !default;

$tip-60parcen-color:                     rgba(0,0,0,0.6) !default;
$tip-80parcen-color:                     rgba(0,0,0,0.8) !default;

$input-placeholder-color:               $text-60parcen-color !default;

$border-default-color:                  #f5f5f9 !default;     
